In [1]:
from pandas import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier, export_graphviz

In [17]:
df = pd.read_csv('NationalNames.csv')
print (df)
#print (len(df))
print ("%d names in dataset" %len(df))

print(df.count())

df = df.drop_duplicates(subset="Name")
df.head()
#print(df.shape[0])
#print(df.index)

              Id       Name  Year Gender  Count
0              1       Mary  1880      F   7065
1              2       Anna  1880      F   2604
2              3       Emma  1880      F   2003
3              4  Elizabeth  1880      F   1939
4              5     Minnie  1880      F   1746
...          ...        ...   ...    ...    ...
1825428  1825429     Zykeem  2014      M      5
1825429  1825430     Zymeer  2014      M      5
1825430  1825431    Zymiere  2014      M      5
1825431  1825432      Zyran  2014      M      5
1825432  1825433      Zyrin  2014      M      5

[1825433 rows x 5 columns]
1825433 names in dataset
Id        1825433
Name      1825433
Year      1825433
Gender    1825433
Count     1825433
dtype: int64

   Id       Name  Year Gender  Count
0   1       Mary  1880      F   7065
1   2       Anna  1880      F   2604
2   3       Emma  1880      F   2003
3   4  Elizabeth  1880      F   1939
4   5     Minnie  1880      F   1746

In [26]:
num = (df.Gender=='F')
print(num.count)

# Get a bool series representing which row satisfies the condition i.e. True for
# row in which value of 'Age' column is more than 30
Numoffemale = df.apply(lambda x: True if x['Gender'] == 'F' else False , axis=1)
 
# Count number of True in series
numOfRows = len(Numoffemale[Numoffemale == True].index)
 
print(numOfRows)

seriesObj = df.apply(lambda x: True if 'F' in x['Gender'] else False, axis=1)
numOfRows = len(seriesObj[seriesObj == True].index)
 
print('Number of Rows in dataframe which contain F in any column : ', numOfRows)

<bound method Series.count of 0           True
1           True
2           True
3           True
4           True
           ...
1825414    False
1825415    False
1825418    False
1825419    False
1825420    False
Name: Gender, Length: 93889, dtype: bool>
59930
Number of Rows in dataframe which contain F in any column :  59930

In [51]:
num1 = if(df.Gender=='M')
        return true
num1.count

SyntaxError: invalid syntax (<ipython-input-51-1f7aaf216e5b>, line 1)

In [34]:
# Check if the name ends in vowel
def checkVowelEnd(name):
    if name[-1] in "aeiou":
        return "Vowel End"
    return "Consonant End"

In [35]:
df["Vowel/Consonant End"] = df["Name"].apply(checkVowelEnd)
df.head()

   Id       Name  Year Gender  Count Vowel/Consonant End
0   1       Mary  1880      F   7065       Consonant End
1   2       Anna  1880      F   2604           Vowel End
2   3       Emma  1880      F   2003           Vowel End
3   4  Elizabeth  1880      F   1939       Consonant End
4   5     Minnie  1880      F   1746           Vowel End

In [42]:
def checkGender(gender):
    if gender == "F":
        return 0
    else:
        return 1
    
df["Gender Value"] = df["Gender"].apply(checkGender)

df.head()
df.count

<bound method DataFrame.count of               Id       Name  Year Gender  Count Vowel/Consonant End  \
0              1       Mary  1880      F   7065       Consonant End
1              2       Anna  1880      F   2604           Vowel End
2              3       Emma  1880      F   2003           Vowel End
3              4  Elizabeth  1880      F   1939       Consonant End
4              5     Minnie  1880      F   1746           Vowel End
...          ...        ...   ...    ...    ...                 ...
1825414  1825415     Zichen  2014      M      5       Consonant End
1825415  1825416      Ziden  2014      M      5       Consonant End
1825418  1825419      Zijun  2014      M      5       Consonant End
1825419  1825420      Zilas  2014      M      5       Consonant End
1825420  1825421      Zirui  2014      M      5           Vowel End

         Gender Value
0                   0
1                   0
2                   0
3                   0
4                   0
...               ...
1825414             1
1825415             1
1825418             1
1825419             1
1825420             1

[93889 rows x 7 columns]>

In [37]:
#def compare(group):
    #return df.groupby([group])["Gender Value"].sum()*100/df.groupby([group])["Gender Value"].count()

In [39]:
df.groupby(["Vowel/Consonant End"])['Gender Value'].count()

Vowel/Consonant End
Consonant End    43635
Vowel End        50254
Name: Gender Value, dtype: int64

In [8]:
print (len(df))
# > 93889 = 43635 + 50254

1825433

In [9]:
female_names = sum(df.groupby(["Vowel/Consonant End"])["Gender Value"].sum())
all_names = df.groupby(["Gender"])["Gender Value"].count()
print (all_names)
print ("\nBoth are equal? %s" % str(female_names == all_names["F"]))

Gender
F    1081683
M     743750
Name: Gender Value, dtype: int64

Both are equal? False

In [10]:
print(df.groupby(["Vowel/Consonant End"])["Gender Value"].sum()*100/df.groupby(["Vowel/Consonant End"])["Gender Value"].count())

Vowel/Consonant End
Consonant End    62.141549
Vowel End        21.114304
Name: Gender Value, dtype: float64

In [11]:
print(compare("Vowel/Consonant End"))

Vowel/Consonant End
Consonant End    62.141549
Vowel End        21.114304
Name: Gender Value, dtype: float64

In [12]:
def vowelConsonantStart(name):
    if name[0] in "aeiou":
        return "Vowel Start"
    else:
        return "Consonant Start"

df["Vowel/Consonant Start"] = df["Name"].apply(vowelConsonantStart)

print("\n Comparison => %s", compare("Vowel/Consonant Start"))

df.head()

 Comparison => %s Vowel/Consonant Start
Consonant Start    40.743758
Name: Gender Value, dtype: float64

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start
0,1,Mary,1880,F,7065,Consonant End,0,Consonant Start
1,2,Anna,1880,F,2604,Vowel End,0,Consonant Start
2,3,Emma,1880,F,2003,Vowel End,0,Consonant Start
3,4,Elizabeth,1880,F,1939,Consonant End,0,Consonant Start
4,5,Minnie,1880,F,1746,Vowel End,0,Consonant Start

In [13]:
def shortLongName(name):
    if len(name) < 7:
        return "Short"
    else:
        return "Long"

df["Short/Long Name"] = df["Name"].apply(shortLongName)
print(compare("Short/Long Name"))
df.head()

Short/Long Name
Long     34.724927
Short    44.604605
Name: Gender Value, dtype: float64

,Id,Name,Year,Gender,Count,Vowel/Consonant End,Gender Value,Vowel/Consonant Start,Short/Long Name
0,1,Mary,1880,F,7065,Consonant End,0,Consonant Start,Short
1,2,Anna,1880,F,2604,Vowel End,0,Consonant Start,Short
2,3,Emma,1880,F,2003,Vowel End,0,Consonant Start,Short
3,4,Elizabeth,1880,F,1939,Consonant End,0,Consonant Start,Long
4,5,Minnie,1880,F,1746,Vowel End,0,Consonant Start,Short

In [14]:
training_data = df[["Gender Value", "Vowel/Consonant Start", "Short/Long Name", "Vowel/Consonant End"]]
training_data.head()

   Gender Value Vowel/Consonant Start Short/Long Name Vowel/Consonant End
0             0       Consonant Start           Short       Consonant End
1             0       Consonant Start           Short           Vowel End
2             0       Consonant Start           Short           Vowel End
3             0       Consonant Start            Long       Consonant End
4             0       Consonant Start           Short           Vowel End

In [15]:
def reprCategory(column):
    column = column.astype("category")
    return column.cat.codes
    
training_data[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]] = training_data[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]].apply(reprCategory)

training_data.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

   Gender Value  Vowel/Consonant Start  Short/Long Name  Vowel/Consonant End
0             0                      0                1                    0
1             0                      0                1                    1
2             0                      0                1                    1
3             0                      0                0                    0
4             0                      0                1                    1

In [16]:
train, test = train_test_split(training_data, test_size = 0.20)

In [17]:
clf = DecisionTreeClassifier()

In [18]:
clf = clf.fit(train[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]], train["Gender Value"])

In [19]:
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [20]:
clf.feature_importances_

array([0.97204324, 0.02795676, 0.        ])

In [21]:
predictions = clf.predict(test[["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"]])
accuracy_score(test["Gender Value"], predictions)

0.7109072632002783

In [22]:
with open("decidenames.dot", "w") as dot_file:
    dot_file = export_graphviz(clf,
                            feature_names=["Vowel/Consonant End", "Short/Long Name", "Vowel/Consonant Start"], out_file=dot_file)